<launch>
<arg name="gui" value="false"/>
<arg name="model" value="burger" />
   <!-- Gazebo -->
   <include file="$(find multi_robot_scenario)/launch/empty_world_2.launch">
    
  </include>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>


  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>

  

</launch>
